body{
  width: 100vw;
  height: 100vh;
}
form div label{
  font-size: 1.5em;
  color:rgb(49, 58, 59);
  font-weight: 700;
}
form div input, form div textarea{
background-color: rgb(241, 242, 243);
outline: none;
font-size: 1.3em;
font-weight: 500;

}
form div input{
  height: 2em;
}